<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1 text="#{label.form.title}">Item creation</h1> <br />
    <span th:text="${message}"></span> <br />
<form id = "itemDto" action="/" th:action = "@{/creation}" th:object="${item}" method="POST" enctype="utf8">
  <div>
    <label text="#{label.user.name}">Name</label>
    <input th:field="*{name}"/>
    <p th:if="${#fields.hasErrors('name')}" th:class="${#fields.hasErrors('name')}? error"> Name can't be null </p>
  </div>
  <div>
    <label text="#{label.user.description}">Description</label>
    <input th:field="*{description}"/>
    <p th:if="${#fields.hasErrors('description')}" th:class="${#fields.hasErrors('description')}? error"> Description can't be null </p>
  </div>
  <div>
    <label text="#{label.user.price}">Price</label>
    <input type="text" th:field="*{price}"/>
    <p th:if="${#fields.hasErrors('price')}" th:class="${#fields.hasErrors('price')}? error"> Price can't be null </p>
  </div>
  <div>
    <label text="#{label.user.image}">Image</label>
    <input type="file" id="imageInput" accept = "image/*" th:field="*{image}"/>
    <p th:if="${#fields.hasErrors('image')}" th:class="${#fields.hasErrors('image')}? error"> Image can't be null </p>
  </div>
  <style>
    .error {
        color: red;
    }
    </style>
  <button type="submit" text="#{label.form.submit}">Submit</button>
</form>
 <br /> <br /> <br />
<a th:href="@{/item}" text="#{label.form.itemLink}">Back</a> <br />
<a th:href="@{/main}" text="#{label.form.mainLink}"> Main </a>
<script>
    $(document).ready(function() {
        $('#imageInput').on('change', function() {
            var file = this.files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                $('#images').val(reader.result);
            };
            reader.readAsArrayBuffer(file);
        });

        $('#itemDto').on('submit', function(e) {

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/creation',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {

                },
                error: function(error) {

                }
            });
        });
    });
</script>
</body>
</html>
