<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Marketplace</title>
</head>
<span th:text="${message}"></span> <br />
<form action="#" th:action = "@{/main}" method="GET" enctype="utf8">
    <body>
    <div>
        Welcome!<br />
    </div>
    </body>
</form>

<form th:action="@{/logout}" method="post">
    <a th:href="@{/item}" text="#{label.form.itemLink}">Item manager</a> <br />
    <a th:href="@{/search}" text="#{label.form.searchItemsLink}">Search items</a> <br />
    <a th:href="@{/admin}" text="#{label.form.adminItemsLink}">Only for admins</a> <br />
    <input type="submit" value="Sign Out"/>
</form>
</html>